@{
    ViewData["Title"] = "Home Page";
}


<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div id="app">
        <div class="tickets">
            <div class="ticket" v-for="ticket in tickets" v-bind:class="[ticket.paid ? 'paid' : '', ticket.color ]">
                <span class="number"> {{ ticket.number }} </span>
                <span class="name"> {{ ticket.name }} </span>
            </div>
        </div>
        <button v-on:click="lottery" class="lottery-button">Trekk!</button>
    </div>

</body>
<script src="index.js"></script>

</html>