<div id="app">
    <div class="tickets">
        <div class="ticket" v-for="ticket in tickets" v-bind:class="[ticket.paid ? 'paid' : '', ticket.color ]">
            <span class="number"> {{ ticket.number }} </span>
            <span class="name"> {{ ticket.name }} </span>
        </div>
    </div>
    <button v-on:click="lottery" class="lottery-button">Trekk!</button>
</div>