<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
</head>

<body>
<div id="app">
    <div class="header">
        <img class="wine-emoji" src="images/Red_Wine_Emoji.png"/>
        <h1 class="title">Bentes vinlotteri</h1>
        <img class="wine-emoji" src="images/Red_Wine_Emoji.png" />
    </div>
    <div class="winners-container" v-if="lotterymode">
        Vinnere:
        <li class="winner" v-if="winners.length > 0" v-for="winner in winners">{{ tickets[winner - 1].name + " (" + winner + ") " }}</li>
    </div>
    <div class="tickets">
        <div class="ticket" v-for="ticket in tickets" v-bind:class="[ticket.paid ? 'paid' : '', ticket.color ]">
            <span class="number"> {{ ticket.number }} </span>
            <div class="name-or-button">
                <span class="name" v-if="ticket.bought"> {{ ticket.name }} </span>
                <button class="buy-button" v-if="!ticket.bought && !lotterymode" v-on:click="buy(ticket.number)">Kjøp</button>
            </div>
        </div>
    </div>
    <button class="lottery-button" v-if="lotterymode" v-on:click="lottery">Trekk!</button>
</div>

</body>
<script src="index.js"></script>

</html>