body {
  width: 100%;
  margin: 0;
  background-color: #2c3e50;
  font-family: 'Josefin Slab', serif; }

.header {
  color: white;
  text-align: center;
  margin: 25px 0; }
  .header .title {
    display: inline; }
  .header .wine-emoji {
    height: 30px; }

.winners-container {
  color: white;
  font-size: 28px;
  margin: 25px; }
.winners-container li {
  display: inline; }

.tickets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .tickets .ticket {
    border: black 1px solid;
    min-height: 80px;
    min-width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #c0392b;
    color: white; }
    .tickets .ticket.paid {
      background: #27ae60; }
    .tickets .ticket.highlighted {
      background: yellow;
      color: black; }
    .tickets .ticket.winner {
      background: green; }
    .tickets .ticket.nowinner {
      background: red; }
    .tickets .ticket.alreadywon {
      background: grey; }
    .tickets .ticket .buy-button {
      background-color: #34495e;
      color: white;
      border: 0;
      padding: 5px 15px; }

.lottery-button {
  font-size: 28px;
  line-height: 35px;
  padding: 15px;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #e67e22;
  color: white;
  border: none; }
